<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\OrderRepository">
        <plugin name="Experius_ApiExtend_Plugin_Magento_Sales_Model_OrderRepository"
                sortOrder="10" type="Experius\ApiExtend\Plugin\Magento\Sales\Model\OrderRepository"/>
    </type>
</config>